APP_CONFIG__DB__URL=postgresql+asyncpg://postgres:postgres@pg:5432/postgres
APP_CONFIG__DB__ECHO=0

APP_CONFIG__REDIS__URL=redis://redis:6379/
APP_CONFIG__BROKER__URL=amqp://guest:guest@rabbitmq:5672/

APP_CONFIG__COOKIE__NAME=session_id
APP_CONFIG__COOKIE__AGE=30 # Days

APP_CONFIG__S3__ACCESS_KEY=your-access-key
APP_CONFIG__S3__SECRET_KEY=your-secret-key
APP_CONFIG__S3__ENDPOINT_URL=your-endpoint-url
APP_CONFIG__S3__BUCKET_NAME=your-bucket-name
APP_CONFIG__S3__MAX_SIZE=1024 # MB

APP_CONFIG__JWT__ALGORITM=RS256
APP_CONFIG__JWT__TTL=300 # Minutes

APP_CONFIG__SMTP__HOST=maildev
APP_CONFIG__SMTP__PORT=1025
APP_CONFIG__SMTP__FROM_EMAIL=noreply@test.com

APP_CONFIG__VERIFICATION__TTL=300 # Minutes
APP_CONFIG__VERIFICATION__ATTEMPTS=3
APP_CONFIG__VERIFICATION__CODE_LEN=5

